.contacts
    text-align: center
    width: 20%
    border: 2px solid black
    height: 120px
    padding: 20px
    margin: -2px 1px 0 -1px
    div
        display: flex
        justify-content: space-around
    &__link-vk, &__link-github
        img
            display: block
            width: 48px
            height: 48px
            margin-bottom: 10px