.header
    display: flex
    flex-wrap: wrap
    justify-content: space-around
    padding: 20px
    border: 2px solid black
    img
        display: block
        margin: 0 auto
        width: 100px
        height: 100px
    div
        border: 1px solid black
        padding: 10px 10px
        div
            border: none